<div class="container">
    <nav>
        <a href="/" class="logo">
            <i class="fa-solid fa-chess-knight"></i>
            Bižuterie Jablonec
        </a>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="nav-links">
            <li><a href="/">Domů</a></li>
            <li><a href="/about">O nás</a></li>
            <li class="dropdown">
                <a href="#">Kalendář <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/tournaments"><i class="fa-solid fa-trophy"></i> Turnaje</a></li>
                    <li><a href="/calendar"><i class="fa-solid fa-chess-knight"></i> Zápasy družstev</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Soutěže <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/blicak">Vánoční bleskáč</a></li>
                    <li><a href="/teams">Soutěže družstev</a></li>
                    <li><a href="/club-tournaments">Oddílový přebor</a></li>
                    <li><a href="/individual-competitions.html">Soutěže jednotlivců</a></li>
                    <li><a href="/puzzle-racer"><i class="fa-solid fa-flag-checkered"></i> Puzzle Racer</a></li>
                </ul>
            </li>
            <li><a href="/youth">Mládež</a></li>
            <!-- Members link in navbar removed, accessible via user profile -->
            <li><a href="/gallery">Galerie</a></li>
        </ul>
        <div id="auth-container"></div>
    </nav>
</div>