<div class="container">
    <nav>
        <a href="index.html" class="logo">
            <i class="fa-solid fa-chess-knight"></i>
            TJ Bižuterie Jablonec
        </a>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Domů</a></li>
            <li><a href="about.html">O nás</a></li>
            <li><a href="calendar.html">Kalendář</a></li>
            <li class="dropdown">
                <a href="#">Soutěže <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="blicak.html">Vánoční bleskáč</a></li>
                    <li><a href="teams.html">Soutěže družstev</a></li>
                    <li><a href="club-tournaments.html">Oddílový přebor</a></li>
                </ul>
            </li>
            <li><a href="youth.html">Mládež</a></li>
            <li><a href="members.html">Členové</a></li>
            <li><a href="gallery.html">Galerie</a></li>
        </ul>
    </nav>
</div>