<div class="container">
    <nav>
        <a href="/" class="logo">
            <i class="fa-solid fa-chess-knight"></i>
            Bižuterie Jablonec
        </a>
        <div class="menu-toggle" role="button" aria-label="Otevřít menu" tabindex="0">
            <i class="fa-solid fa-bars" aria-hidden="true"></i>
        </div>
        <ul class="nav-links">
            <li><a href="/">Domů</a></li>
            <li><a href="/about">O nás</a></li>
            <li class="dropdown">
                <a href="#">Kalendář <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/tournaments"><i class="fa-solid fa-trophy"></i> Turnaje</a></li>
                    <li><a href="/calendar"><i class="fa-solid fa-chess-knight"></i> Zápasy družstev</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Soutěže <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/blicak" style="color: var(--primary-color); font-weight: bold; text-shadow: 0 0 8px rgba(212, 175, 55, 0.5);"><i class="fa-solid fa-egg" style="margin-right:0.3rem;"></i> Povelikonoční blicák</a></li>
                    <li><a href="/teams">Soutěže družstev</a></li>
                    <li><a href="/club-tournaments">Oddílový přebor</a></li>
                    <li><a href="/individual-competitions.html">Soutěže jednotlivců</a></li>
                </ul>
            </li>
            <li><a href="/youth">Mládež</a></li>
            <!-- Members link in navbar removed, accessible via user profile -->
            <li class="dropdown">
                <a href="#">Extra <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/puzzle-racer"><i class="fa-solid fa-flag-checkered"></i> Puzzle Racer</a></li>
                    <li><a href="/partie"><i class="fa-solid fa-chess-board"></i> Partie</a></li>
                    <li><a href="/chess-database.html"><i class="fa-solid fa-database"></i> Databáze</a></li>
                    <li><a href="/game-recorder?mode=diagram"><i class="fa-solid fa-pen-ruler"></i> Editor</a>
                    </li>
                    <li><a href="/gallery"><i class="fa-solid fa-images"></i> Galerie</a></li>
                </ul>
            </li>
        </ul>
        <div id="auth-container"></div>
    </nav>
</div>